<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="/
    <meta name="keywords" content="Gestión de eventos sociales, Creación de invitaciones, Listas de invitados, Mesa de regalos, Landing page, Eventos, Plataforma para eventos, Envío de invitaciones, Gestión de eventos en línea.">
    <meta name="author" content="Fennec Studio">

    <title>EventMaster • {{title}}</title>
    {{> HeaderStyles}}
</head>