<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Gestión de eventos sociales | Plataforma para crear invitaciones personalizadas y gestionar listas de invitados.">
    <meta name="description" content="Crea invitaciones personalizadas y gestiona tus eventos sociales con nuestra plataforma fácil de usar. Envía invitaciones por correo electrónico y WhatsApp, gestiona listas de invitados, mesa de regalos, y visualiza en tiempo real información del evento. ¡Haz que tu evento sea inolvidable!">
    <meta name="keywords" content="Gestión de eventos sociales, Creación de invitaciones, Listas de invitados, Mesa de regalos, Landing page, Eventos, Plataforma para eventos, Envío de invitaciones, Gestión de eventos en línea.">
    <meta name="author" content="Fennec Studio">

    <title>PartyPlanner | Inicio</title>
    {{> HeaderStyles}}
</head>